/* css ruleset */

@import url('https://fonts.googleapis.com/css?family=Oxygen|Oxygen+Mono');

body {
    font-family: Oxygen, sans-serif;
    font-size: 12pt;
}

.code {
    font-family: "Oxygen Mono", Consolas, monospace;
}

.italics {
    font-style: italic;
}

.bold {
    font-style: bold;
}

#main_panel {
    position: absolute;
    top: 0px; left: 0px; /* will be modified with Javascript */
    margin: 0px;
    padding: 0px;
    
    border: 1px solid black;
}

#messages {
    margin: 0px;
    border: 0px;
    padding: 0px;
    width: 100%;
    
    background-color: snow;
    overflow-y: scroll;
}

.message {
    position: relative;
    display: block;
    margin: 5px;
    border: 0px;
    padding: 5px;
    float: left;
    width: 70%;
    border-radius: 5px;
}

.notification {
    position: relative;
    display: block;
    padding: 5px;
    float: right;
    width: 70%;
    
    color: darkslategray;
    background-color: snow;
    border: 1px solid darkslategray;
    border-radius: 5px;
    
    /* i'll do the rest with Javascript */
}

form {
    display: block;
    margin: 0px;
    padding: 0px;
    border: 0px;
    bottom: 0px;
    left: 0px;
}

input {
    position: relative;
    margin: 0px;
    border: 0px;
    padding: 2px;
    background-color: snow;
    border: 1px solid black;
    border-radius: 2px;
    
    display: inline;
    height: 1.5em;
    
    font-family: "Oxygen", sans-serif;
    font-size: 12pt;
}

input:focus {

}

div#name, div#message {
    display: inline-block;
}

#login_panel {
    position: absolute;
    margin: 0px;
    padding: 5px;
    border: 1px solid darkslategray;
    
    color: darkslategray;
    background-color: snow;
}